@import '../../../assets/styles/_variables.scss';

.toast-container {
    height: 3.5rem;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}

.toast-message {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 2rem;
    color: $white;
    transform: translateY(-3.5rem);
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1000;

    &.show {
        transform: translateY(0);
        opacity: 1;
    }

    &.toast-message {
        &--primary {
            background-color: $green;
        }

        &--danger {
            background-color: $red;
        }
    }

    .toast-dismiss {
        margin-left: auto;
        text-align: right;

        .btn {
            background: none;
            outline: 0;
            border: none;
            color: $white;
            font-size: 2rem;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
    }
}
