@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.page {
  &__form {
    width: 100%;
    &--input-group {
      margin-bottom: 1rem;
      width: 100%;
      input {
        @include formElementStyle;
        width: 100%;
        border: solid $gray-400;
        border-width: 0 0 1px 0;
        box-sizing: border-box;
        &.invalid {
          border-color: $red;
        }
        &:focus {
          outline: none;
          &::placeholder {
            opacity: 0.3;
          }
        }
      }
      .error {
        font-size: 0.75rem;
        color: $red;
        visibility: hidden;
        &.visible {
          visibility: visible;
        }
      }
    }
    &--button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}
