@import "./assets/styles/variables";
@import "./assets/styles/mixins";

* {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $primary-bg;
  color: $primary-text;
  a {
    color: $link;
    &:visited {
      color: $link;
    }
    &:hover {
      color: $link-hover;
    }
  }
}



.text-danger {
  color: $red;
}

.orm-button {
  @include formElementStyle;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  min-width: 10rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover, &:focus {
    outline: none;
  }
  &.primary {
    background-color: $dark-blue-1;
    &:hover {
      background-color: $dark-blue-2;
    }
  }
  &.secondary {
    background-color: $gray-600;
  }
  &[disabled] {
    opacity: 0.3;
    background-color: $gray-600;
    cursor: not-allowed;
    &:hover {
      background-color: $gray-600;
    }
  }
}

.page {
  max-width: 20rem;
  box-sizing: content-box;
  &__container {
    min-height: 10rem;
    background-color: $white;
    //border-radius: 1.5rem;
    padding: 3.5rem 2.5rem;
    margin-bottom: 0.5rem;
  }
  &__header {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__form-container {

  }

  &__form {
    width: 100%;
    &--input-group {
      margin-bottom: 1rem;
      width: 100%;
      input {
        @include formElementStyle;
        width: 100%;
        border: solid $gray-400;
        border-width: 0 0 1px 0;
        box-sizing: border-box;
        &.invalid {
          border-color: $red;
        }
        &:focus {
          outline: none;
          &::placeholder {
            opacity: 0.3;
          }
        }
      }
      .error {
        font-size: 0.75rem;
        color: $red;
        visibility: hidden;
        &.visible {
          visibility: visible;
        }
      }
    }
    &--button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }

  &__redirect {
    text-align: center;
    font-size: 0.8125rem;

    a {
      font-size: inherit;
    }
  }
}
