@import "./assets/styles/variables";
@import "./assets/styles/mixins";

* {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $primary-bg;
  color: $primary-text;
}

a {
  color: $blue-300;
  &:visited {
    color: $link;
  }
}

.text-danger {
  color: $red;
}

.orm-button {
  @include formElementStyle;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  min-width: 10rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover, &:focus {
    outline: none;
  }
  &.primary {
    background-image: linear-gradient(to left, $blue-400, $blue-600);
    &:hover {
      background-image: linear-gradient(to left, $blue-300, $blue-500);
    }
  }
  &.secondary {
    background-color: $gray-600;
  }
  &[disabled] {
    opacity: 0.5;
  }
}

.page {
  max-width: 20rem;
  box-sizing: content-box;
  &__header {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 3rem;
    margin-bottom: 0.5rem;
  }

  &__form-container {
    min-height: 10rem;
    background-color: $white;
    border-radius: 1.5rem;
    padding: 4rem 3rem;
    margin-bottom: 0.5rem;
  }

  &__redirect {
    text-align: center;
    font-size: 0.8125rem;

    a {
      font-size: inherit;
    }
  }
}
