@import "./assets/styles/variables";

* {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $primary-bg;
  color: $primary-text;
}

a {
  color: $blue-300;
  &:visited {
    color: $link;
  }
}

.page {
  &__header {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 3rem;
    margin-bottom: 0.5rem;
  }

  &__form-container {
    min-height: 10rem;
    background-color: $white;
    border: solid 1px $gray-400;
    border-radius: 0.25rem;
    padding: 4rem 3rem;
    box-shadow: 0 0.125rem 0.5rem 0 $gray-400;
    margin-bottom: 0.5rem;
  }

  &__redirect {
    text-align: center;
    font-size: 0.8125rem;

    a {
      font-size: inherit;
    }
  }
}
