$white: #ffffff;
$black: #000000;

$red: #9F041B;
$green: #28a745;

$gray-200: #fcfcfc;
$gray-400: #e0e0e0;
$gray-600: #4f4f4f;
$gray-800: #333333;

$teal: #4f6d7a;
$light-blue-1: #dbe9ee;
$light-blue-2: #edf2fb;
$dark-blue-1: #4a6fa5;
$dark-blue-2: #166088;

$primary-bg: $light-blue-2;
$primary-text: $gray-800;
$link: $dark-blue-1;
$link-hover: $dark-blue-2;
